:root {
  --red: #FF0000;
  --green: #2DD23D;
  --blue: #2BCBC1;
  --blue-focus: #BEF6F2;
  --bg: #F2F7FF;
  --beige: #FFF0CA;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

#app {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
/* Transition */

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease-in;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
.fade-enter-active .child,
.fade-leave-active .child {
  transition: opacity 0.3s ease-in;
}

.fade-enter-from .child,
.fade-leave-to .child {
  opacity: 0;
}