@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --red: #ff0000;
  --green: #2dd23d;
  --blue: #2bcbc1;
  --blue-focus: #bef6f2;
  --bg: #f2f7ff;
  --beige: #fff0ca;
}

::-webkit-scrollbar {
  display: none;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

#app {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Transitions */

/* fade out-in */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease-in;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
/* fade in */
.fade-in-enter-active {
  transition: opacity 0.3s ease-in;
}
.fade-in-enter-from {
  opacity: 0;
}
/* modal */
.modal-enter-active,
.modal-leave-active {
  transition: opacity 0.3s ease-in;
}
.modal-enter-from,
.modal-leave-to {
  opacity: 0;
}
.modal-enter-active > div,
.modal-leave-active > div {
  transition: scale 0.3s ease-in;
}
.modal-enter-from > div,
.modal-leave-to > div {
  scale: 0;
}
