@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --red: #FF0000;
  --green: #2DD23D;
  --blue: #2BCBC1;
  --blue-focus: #BEF6F2;
  --bg: #F2F7FF;
  --beige: #FFF0CA;
}

::-webkit-scrollbar {
  display: none;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

#app {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Transitions */

/* fade out-in */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease-in;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
/* fade in */
.fade-in-enter-active {
  transition: opacity 0.5s ease-in 0.5s;
}
.fade-in-enter-from {
  opacity: 0;
}